<input type="text" class="form-control w-50 mx-auto my-3 text-center " [(ngModel)]="searchTerm" placeholder="search">

<div class="row g-3 position-relative">
    <div class="col-md-2" *ngFor="let product of allProducts | filterProducts : searchTerm " [title]="product.title">
        <div class="product p-2">
            <div class="" [routerLink]="['/details/' , product._id]">
                <img [src]="product.imageCover" class="w-100" alt="">
                <h5 class="text-main h6">{{product.category.name}}</h5>
                <h4 class="h6">{{product.title | trim }}<span>...</span></h4>
                <div class="d-flex justify-content-between">
                    <span>{{product.price | currency : 'EGP '}}</span>
                    <span>{{product.ratingsAverage}}
                        <i class="fa fa-star rating-color"></i>
                        <br>
                    </span>
                </div>
            </div>
            <a (click)="addToWishList(product._id)"><i class="fa fa-heart text-danger fa-xl"></i></a>
            <button class="btn bg-main text-white d-block w-100" (click)="addToCart(product._id)">Add to Cart + </button>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="position-absolute w-100 h-100 top-0 start-0 bg-black opacity-50 d-flex align-items-center justify-content-center">
    <i class="fa fa-spin fa-spinner fa-2xl text-main"></i>
</div>