<div class="row g-0 pb-5">
    <div class="col-md-8">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img height="500px" src="assets/images/slider-image-3.jpeg" class="w-100"></ng-template>  
            <ng-template carouselSlide><img height="500px" src="assets/images/slider-image-2.jpeg" class="w-100"></ng-template>  
            <ng-template carouselSlide><img height="500px" src="assets/images/slider-image-1.jpeg" class="w-100"></ng-template>  
        </owl-carousel-o>
    </div>
    <div class="col-md-4">
        <img height="250px" src="assets/images/slider-image-1.jpeg" class="w-100">
        <img height="250px" src="assets/images/slider-image-2.jpeg" class="w-100">
    </div>
</div>